.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-image {
  max-width: 500px;
  max-height: 1600px;
  width: 100%;
  height: auto;
}
